.container {
  width: 1360px;
  margin: 0 auto;
}
.section {
  padding: 120px 0;
  background-color: #fff;
  .container {
    /*내용이 길어도 이 공간은 확보해라*/
    min-height: 500px;
    .title-box {
      h2 {
        font-size: 44px;
      }
      p {
        font-size: 25px;
      }
    }
  }
}

.main-visual {
  position: fixed;
  width: 100%;
  z-index: -2;
  top: 0;
  &__txt {
    position: absolute;
    img {
      display: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
    }
    h2 {
      position: absolute;
      top: 32%;
      left: 15%;
      font-size: 80px;
      font-weight: 500;
      color: white;
      &:before {
        display: block;
        position: absolute;
        bottom: 200px;
        content: "";
        width: 70px;
        height: 5px;
        background-color: red;
      }
    }
    p {
      position: absolute;
      top: 560px;
      left: 300px;
      color: white;
      font-size: 24px;
      font-weight: 300;
    }
    span {
      position: absolute;
      top: 880px;
      left: 950px;
      color: white;
      border: 1px solid #fff;
      border-radius: 100%;
      padding: 5px;
    }
  }
}

.business {
  margin-top: 100vh;
  .container {
    .title-box {
      text-align: center;
      h2 {
        font-weight: 700;
        margin-bottom: 50px;
        &:after {
          display: block;
          position: relative;
          top: 30px;
          content: "";
          width: 40px;
          left: 650px;
          height: 4px;
          background-color: red;
        }
      }
      p {
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
  .contents {
    margin-top: 80px;
    display: flex;
    justify-content: center;
  }
}

.news {
  .container {
    line-height: 5;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .contents {
      font-size: 14px;
      > li {
        padding-right: 100px;
        > a {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          &:before {
            display: block;
            content: "";
            height: 1px;
            width: 80%;
            background-color: white;
          }
        }
      }
    }
    .announcement {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 350px;
      box-sizing: border-box;
      width: 50%;
      background-color: rgb(255, 38, 38);
      .title {
        font-size: 30px;
      }
    }
    .document {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 100px;
      padding-right: 230px;
      box-sizing: border-box;
      width: 50%;
      background-color: rgb(114, 104, 104);
      .title {
        font-size: 30px;
      }
    }
  }
}
